@{
    ViewData["Title"] = "Unauthorized Request";
}

<div class="text-center text-danger mt-5 py-5">
    <h1 class="display-2 mt-5 py-5">You have been redirected for attempting to access a restricted area!</h1>
    <i class="mt-5 fa-solid fa-10x fa-lock"></i>
</div>
<div class="text-center">
    <a class="mt-5 btn btn-warning" href="/">Return Home</a>
</div>
